---
# https://github.com/prometheus/blackbox_exporter/releases/download/v0.11.0/blackbox_exporter-0.11.0.linux-amd64.tar.gz
  - name: Set exporter facts
    set_fact:
      blackbox_exporter_sub_dir: "{{ exporter_config.exporter_dir | default('blackbox_exporter') }}"
      blackbox_exporter_user: "{{ exporter_config.exporter_user | default(prometheus_user) }}"
      blackbox_exporter_group: "{{ exporter_config.exporter_group | default(prometheus_group) }}"

  - name: Prometheus blackbox exporter | check if this exporter version exists
    stat:
      path: "{{ prometheus_exporters_dir }}/blackbox_exporter-{{ prometheus_blackbox_exporter_version }}.linux-amd64"
    register: blackbox_exporter_version_exists
    become: yes
    become_user: "{{ blackbox_exporter_user }}"

  - name: Prometheus BlackBox Exporter | Download distribution
    get_url:
      url: "https://github.com/prometheus/blackbox_exporter/releases/download/v{{ prometheus_blackbox_exporter_version }}/blackbox_exporter-{{ prometheus_blackbox_exporter_version }}.linux-amd64.tar.gz"
      dest: "/tmp/blackbox_exporter-{{ prometheus_blackbox_exporter_version }}.linux-amd64.tar.gz"
    become: yes
    become_user: "{{ blackbox_exporter_user }}"
    when: not blackbox_exporter_version_exists.stat.exists
    tags:
      - prometheus

  - name: Prometheus BlackBox Exporter | unpack distribution
    unarchive:
      src: "/tmp/blackbox_exporter-{{ prometheus_blackbox_exporter_version }}.linux-amd64.tar.gz"
      dest: "{{ prometheus_exporters_dir }}"
      remote_src: yes
    become: yes
    become_user: "{{ blackbox_exporter_user }}"
    when: not blackbox_exporter_version_exists.stat.exists
    tags:
      - prometheus

  - name: Prometheus blackbox Exporter | link blackbox exporter dir
    file:
      src: "{{ prometheus_exporters_dir }}/blackbox_exporter-{{ prometheus_blackbox_exporter_version }}.linux-amd64/"
      dest: "{{ prometheus_exporters_dir }}/{{ blackbox_exporter_sub_dir }}"
      owner: "root"
      group: "{{ blackbox_exporter_group }}"
      state: link
    become: yes
    tags:
      - prometheus

  - include_tasks: "tasks_startup.yml"
    vars:
      exporter_startup_config: "{{ exporter_config }}"