---
# https://github.com/nginxinc/nginx-prometheus-exporter

  - name: Set exporter facts
    set_fact:
      nginx_exporter_sub_dir: "{{ exporter_config.exporter_dir | default('nginx_exporter') }}"
      nginx_exporter_user: "{{ exporter_config.exporter_user | default(prometheus_user) }}"
      nginx_exporter_group: "{{ exporter_config.exporter_group | default(prometheus_group) }}"
      default_nginx_exporter_config:
         parameters: "-nginx.scrape-uri http://localhost:8113/stub_status"


  - name: Calculate final config
    set_fact:
      final_exporter_config: "{{ default_nginx_exporter_config | combine (exporter_config) }}"

  - name: Prometheus nginx exporter | check if this exporter version exists
    stat:
      path: "{{ prometheus_exporters_dir }}/nginx_exporter-{{ prometheus_nginx_exporter_version }}.linux-amd64"
    register: nginx_exporter_version_exists
    become: yes

  - name: Prometheus nginx Exporter | Download distribution
    get_url:
      url: "https://github.com/nginxinc/nginx-prometheus-exporter/releases/download/v{{ prometheus_nginx_exporter_version }}/nginx-prometheus-exporter-{{ prometheus_nginx_exporter_version }}-linux-amd64.tar.gz"
      dest: "/tmp/nginx-prometheus-exporter-{{ prometheus_nginx_exporter_version }}-linux-amd64.tar.gz"
    become: yes
    become_user: "{{ nginx_exporter_user }}"
    when: not nginx_exporter_version_exists.stat.exists
    tags:
      - prometheus

  - name: Prometheus nginx Exporter | create versioned directory
    file:
      path: "{{ prometheus_exporters_dir }}/nginx_exporter-{{ prometheus_nginx_exporter_version }}.linux-amd64"
      state: directory
      owner: "{{ nginx_exporter_user }}"
      group: root
    become: yes
    when: not nginx_exporter_version_exists.stat.exists
    tags:
      - prometheus

  - name: Prometheus nginx Exporter | unpack distribution
    unarchive:
      src: "/tmp/nginx-prometheus-exporter-{{ prometheus_nginx_exporter_version }}-linux-amd64.tar.gz"
      dest: "{{ prometheus_exporters_dir }}/nginx_exporter-{{ prometheus_nginx_exporter_version }}.linux-amd64"
      remote_src: yes
    become: yes
    when: not nginx_exporter_version_exists.stat.exists
    tags:
      - prometheus

  - name: Prometheus nginx Exporter | adapt expected exporter name
    command: "mv nginx-prometheus-exporter nginx_exporter"
    args:
      chdir: "{{ prometheus_exporters_dir }}/nginx_exporter-{{ prometheus_nginx_exporter_version }}.linux-amd64"
    become: yes
    when: not nginx_exporter_version_exists.stat.exists
    tags:
      - prometheus

  - name: Prometheus nginx Exporter | Fix permissions
    file:
      path: "{{ prometheus_exporters_dir }}/nginx_exporter-{{ prometheus_nginx_exporter_version }}.linux-amd64/nginx_exporter"
      owner: "{{ nginx_exporter_user }}"
      group: "root"
      mode: "u=rx,g=rwx,o=rx"
    become: yes
    when: not nginx_exporter_version_exists.stat.exists
    tags:
      - prometheus

  - name: Prometheus nginx Exporter | link nginx exporter dir
    file:
      src: "{{ prometheus_exporters_dir }}/nginx_exporter-{{ prometheus_nginx_exporter_version }}.linux-amd64/"
      dest: "{{ prometheus_exporters_dir }}/{{ nginx_exporter_sub_dir }}"
      owner: "root"
      group: "{{ nginx_exporter_group }}"
      state: link
    become: yes
    tags:
      - prometheus

  - include_tasks: "tasks_startup.yml"
    vars:
      exporter_startup_config: "{{ final_exporter_config }}"
