ansible==2.9.20
ansible-lint==5.1.2
flake8==3.9.2
molecule==3.4.0
molecule-digitalocean==0.1
molecule-docker==0.3.4
molecule-ec2==0.3
molecule-vagrant==0.6.3
pytest-molecule==1.4.0
python-vagrant==0.5.15
